<script lang="ts">
    export let logo: string;
    export let title: string;
    export let link: string;
</script>

<a href={link}>
    <img src={logo} alt="" srcset="" />
    <h2>{title}</h2>
</a>

<style>
    a {
        display: flex;
        height: 200px;
        width: 200px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: #010101;
        border: 1px solid rgba(194, 194, 194, 0.329);
    }

    a:hover {
        background-color: #e4e4e4;
    }

    img {
        width: 100%;
        height: 100%;
    }

    h2 {
        margin: 0;
    }
</style>
