<script>
	import CategoryBox from "../lib/CategoryBox.svelte";
	import github from "../lib/images/github.svg";
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<section>
	<CategoryBox title="github" logo={github} link="about" />
</section>
